<main>
  <div class="container mw-100">
    <div class="row border border-primary bg-dark text-light">
      <div class="col-md-12 py-4 text-center">
        <div class="row col-md-12">
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/nis2.png" alt="Card image cap">
              <h1>Enterprise IDS</h1>
              <div class="card-body">
                <p class="card-text">Protection for enterprise networks</p>
                <div class="d-flex justify-content-center mb-3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/nis2.png" alt="Card image cap">
              <h1>IoT IDS</h1>
              <div class="card-body">
                <p class="card-text">Protection for IoT networks</p>
                <div class="d-flex justify-content-center mb-3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/nis2.png" alt="Card image cap">
              <h1>Enterprise + IoT</h1>
              <div class="card-body">
                <p class="card-text">Combined enterprise and IoT network protection</p>
                <div class="d-flex justify-content-center mb-3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/nis2.png" alt="Card image cap">
              <h1>IDS on Edge Device</h1>
              <div class="card-body">
                <p class="card-text">Edge device with an IDS preinstalled</p>
                <div class="d-flex justify-content-center mb-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
