<main>
  <div class="container mw-100">
    <div class="row border border-primary bg-dark text-light">
      <div class="col-md-12 py-4 text-center">
        <div class="row col-md-12 justify-content-center">
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/photo.jpg" alt="Photo">
              <h1>Kostas Ereksonas</h1>
              <div class="card-body">
                <p class="card-text">
                  Master's degree in IT engineering
                  <br>
                  Research experience in QKD technologies
                </p>
                <div class="d-flex justify-content-center mb-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
