<main>
  <div class="container mw-100">
    <div class="row border border-primary bg-dark text-light">
      <div class="col-md-6 py-4 text-center">
        <div class="bg-info bg-gradient rounded-5">
          <h1 class="text-light-emphasis py-5">AI guardian for Your networks</h1>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/nis2.png" alt="Card image cap">
              <h1>NIS2 Compliance</h1>
              <div class="card-body">
                <p class="card-text">Automatic reports that comply with NIS2 directive - templates for early warning report (24h) and a report with more thorough analysis of an incident (72h)</p>
                <div class="d-flex justify-content-center mb-3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/IDS.png" alt="Card image cap">
              <h1>Intrusion Detection</h1>
              <div class="card-body">
                <p class="card-text">An ensemble model that combines machine and deep learning methods for fast and accurate intrusion classification and anomaly detection</p>
                <div class="d-flex justify-content-center mb-3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/edge.png" alt="Card image cap">
              <h1>Detection on the Edge</h1>
              <div class="card-body">
                <p class="card-text">Future plans include having an edge device with the IDS preinstalled that would seamlessly integrate into the existing network architecture</p>
                <div class="d-flex justify-content-center mb-3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="nav-link active btn btn-light p-5 border border-dark rounded-5" aria-current="page" routerLink="/contacts"><h1>Interested? Click here to leave a message</h1></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <img class="img-fluid justify-content-end" src="/illustration.png" alt="illustration">
      </div>
    </div>
  </div>
</main>
